@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

/*--------------------------- Typeface ---------------------------*/

@font-face {
    font-family: bauhaus;
    src: url(../BauhausFontFamily/BauhausRegular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: bauhaus;
    src: url(.//Shin-go/AOTFShinGoProBold.otf) format('truetype');
    font-weight: bold;
} 
h1, h2, h3, h4, h5, h6 {
    font-family: 'ICA Rubrik', sans-serif;
    font-weight: normal;
}

p, th, nav, li {
    font-family: 'bauhaus', sans-serif;
    font-weight: normal;
}
b {
    font-family: 'ICA Rubrik', sans-serif;
    font-weight: bold;
}


/*------------------- Colour Controls ----------------------------*/

:root {        
    --bread:rgb(241, 241, 241); 
    --bu:rgb(27, 27, 104);
    --creme: white;
    --orang: rgb(232, 101, 8);     
    --bl: rgba(0, 0, 0, 0.248);
    --text: black;
    --rule: #ccc;
    --grad: linear-gradient(to bottom right, blue, pink);


    /* --- svg --- */

    --colour1: #91afec;
    --colour2: #6d83af;
    --colour3: #d2dbed;
    --colour4: #7c96ca;
    --colour5: #f5f2eb;
    --colour6: rgba(216, 166, 30, 0);



    /* --bread-dark:rgb(43, 44, 50); 
    --bu-dark:rgb(27, 27, 104);
    --creme-dark: rgb(51, 51, 59);
    --orang-dark: rgb(232, 101, 8);     
    --bl-dark: rgb(0, 0, 0, 0.248);
    --text-dark: rgb(202, 202, 202);
    --rule-dark: rgb(163, 161, 161);     
    --grad-dark: linear-gradient(to bottom right, rgb(1, 1, 62), rgb(73, 2, 40)); */


}

.darkMode {
    --bread:rgb(43, 44, 50); 
    --bu:rgb(27, 27, 104);
    --creme: rgb(51, 51, 59);
    --orang: rgb(232, 101, 8);     
    --bl: rgb(0, 0, 0, 0.248);
    --text: rgb(202, 202, 202);
    --rule: rgb(163, 161, 161);     
    --grad: linear-gradient(to bottom right, rgb(1, 1, 62), rgb(73, 2, 40));


    /* --- svg --- */

    --colour1: #67738c;
    --colour2: #4f586c;
    --colour3: #d2dbed;
    --colour4: #626e85;
    --colour5: #efd9a0;
    --colour6: rgba(216,165,30,0.42);

}

/* @media(prefers-color-scheme: dark) {
    :root {
        --bread: var(--bread-dark);
        --bu: var(--bu-dark);
        --creme: var(--creme-dark);      
        --orang: var(--orang-dark);    
        --bl: var(--bl-dark);
        --text: var(--text-dark);    
        --rule: var(--rule-dark);
        --grad: var(--grad-dark);
    }

} */

/* @media(prefers-color-scheme: light) {
    :root {
        --bread: var(--bread-light);
        --bu: var(--bu-light);
        --creme: var(--creme-light);      
        --orang: var(--orang-light);    
        --bl: var(--bl-light);
        --text: var(--text-light);    
        --rule: var(--rule-light);
        --grad: var(--grad-light);
    }

} */

/* .darkmode {
    --bread: var(--bread-dark);
    --bu: var(--bu-dark);
    --creme: var(--creme-dark);      
    --orang: var(--orang-dark);    
    --bl: var(--bl-dark);
    --text: var(--text-dark);    
    --rule: var(--rule-dark);
    --grad: var(--grad-dark);
} */

/* [color-scheme="light"] {
    --bread: var(--bread-light);
    --bu: var(--bu-light);
    --creme: var(--creme-light);      
    --orang: var(--orang-light);    
    --bl: var(--bl-light);
    --text: var(--text-light);    
    --rule: var(--rule-light);
    --grad: var(--grad-light);
} */

/*
    --bread:#ffffff; 
    --bu: #004e89;
    --creme: #fdf0d5;
    --orang: #1a659e;     
    --bl: rgba(0, 0, 0, 0.248);

    --bread:rgb(226, 221, 221); 
    --bu:rgb(27, 27, 104);
    --creme: oldlace;
    --orang: rgb(232, 101, 8);     
    --bl: rgba(0, 0, 0, 0.248);
*/
.colour-a {
    color: var(--bread,);
}

.colour-b {
    color: var(--bu);
}

.colour-c {
    color: var(--creme);
}

.colour-d {
    color: var(--orang);
}

.colour-e {
    color: var(--bl);
}

.text-colour {
    color: var(--text);
} 

.colour-g {
    color: var(--grad);
}

/*------------------------ Responsive Iframes --------------------*/



.widt {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.wid {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    height: 500px;
}

.wid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:1350px) {
    :root {
        --add: 20px;
        --daa: 0;
    }
}

/*------------------------------ elements ------------------------*/

/* .standard-blue-boder {
    border-color: var(--bu);
    border-width: 6px;
    border-style: solid;
    border-radius: 10px;
} */

.ol-box {
    background-color: var(--creme);
    padding: 5px 20px 10px 20px;
    margin: 20px;
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    color: var(--text);
}

.text-title {
    padding-top: 10px;
    padding-left: 20px;
    color: var(--text);
    /* may be able to remove/replace */
}

header {
    /*background-color: var(--bu);*/
    background-image: var(--grad);
    color: rgb(233,230,230);
    padding-left: 30px;
    padding-top: 5px;
    margin: 0px;
    filter: drop-shadow(0px 8px 4px var(--bl));
} 

body {
    margin: 0px;
}

footer {
    background-color: var(--creme);

}

.footer-text {
    padding-left: 30%;
    color: var(--text);

    /* Incorperate into above */
}

/* p { */
    /* pushes all paragraph text over */
    /* padding-left: 20px; */
    /* may be able to remove, with adjustment in ol-box */
/* } */

.ad { 
    /* Adjusts Ad Box Placement */
    margin-left: var(--add,0);
    margin-top: var(--daa, 20px);
}

.item-center {
    display: block;
    margin: auto;
    margin: auto;
  /* may be redundant */
}

.txt-center {
    text-align: center;
}

.no-u {
    /* for removing decoration in links */
    text-decoration: none;
    /* May be able to encorperate into something else */
}

.corn {
    /* applies corner radius when applied, for use on images or iframes */
    border-radius: 10px;
    /* could be encorperated into something else */
}

.ad-pic {
    /* width of pic in ad for use as variable* */
    width:100%;
    /* optimize */
}

@media (max-width:1350px){
    /* stops ad getting too big  */
    .ad-pic {
        width: 300px;
    }
}

.pic {
    width: 100%;
}

.rule {
    margin-left: 0px;
    margin-right: 10px;
    background-color: default;
}

hr {
    border-color: var(--rule);
}


a hr {
    border-color: var(--rule);
  }

.decor {
    background-color: var(--creme);
    background-image: url(".././Images/20210402_154657.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 350px;
}

.decor > h1, a {
    color: rgb(222, 222, 222);
    /* background-color: rgb(162, 156, 156, .5);
    padding: 5px; */
}

.space {
    height: 500px;
}

h2, h3 {
    background-image: var(--grad);
    color: var(--creme);
    border-radius: 5px;
    width: fit-content;
    padding: 20px 20px 5px 0;
}

.inset {
    inset: 0px -5px 15px grey;
}

.backgound {
    background-color: var(--bread);
}

/* .nav > h1 {
    color: red;
} */

/* .nav > nav > table > tr > th > a {
    text-decoration: none;
    color: aquamarine;
} */

/* ----------------------------- darkmode button -----------------------------*/

.theme {
    background-color: var(--grad);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0 solid var(--bread);
    cursor: pointer;
    display: grid;
    place-items: center;
    position: relative;
}

.theme:is(:hover, :focus) {
    background-color: var(--orang);
    opacity: .8;
}


/* .darkmodesvg {
    width: 100%;

} */





/* ------------------------------- nav -------------------------------------- */

.nav-bar > th > a {
    text-decoration: none;
    color: var(--text);
}

.nav-bar :hover {
    color: var(--orang);
}

.hov:hover {
    color: var(--orang);
}

/*---------------------- Debug colors ----------------------------*/
/*
.r {
    background-color: red;
}

.g {
    background-color: green;
}

.b {
    background-color: blue;
}

.y {
    background-color: yellow;
}

.p {
    background-color: pink;
}
*/
/*-------------------- Page Layout -------------------------------*/

.d1 {
    /* Header Placement */
    grid-area: header;
}
.d2 {
    background: lightcoral;
    
}

.d3 {
    /* Article Placement */
    grid-area: article;
}
.d4 {
    /* Ad Placement */
    grid-area: advert;
}
.d5 {
    /* Footer Placement */
    grid-area: footer;
}

.container {

    /* Website Container */
    width: auto;
    /*background: lightgray;*/
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: fit-content Fit-Content fit-content;
    grid-gap: 0px 0px;
    grid-template-areas: 
      "header header header"
      ". article advert"
      "footer footer footer"
      ;
}

@media (max-width:1350px) { /* Website Size Responsiveness */
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          "header header"
          "article article"
          "advert advert"
          "footer footer"                     
    }               
}

/* ----------------------------- Section Splitter --------------------------- */

@media (min-width:900px) {

    .cont-container {
        width: auto;
        margin: 20px ;    
        /*background-color: aqua;*/

        columns: 2;
        /* grid-auto-rows: 10px; */
        /*grid-template-rows: fit-content ; */
        column-gap: 20px;
    }


    .cont-container > .card {
        margin: 0 0 20px;    
    }

    .card {
        overflow: hidden;
        width: fit;
        max-width: 100%;
        break-inside: avoid;
    }

}

/*--------------------------------- Gallery ----------------------------------*/
                             /* Work In Progress */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 216px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 150px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/*-------------------------------- Image Grid --------------------------------*/

.image-grid {
    --gap: 5px;
    --num-cols: 4;
    --row-height: 300px;


    box-sizing: border-box;
    padding: var(--gap);


    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.image-grid > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything under 1350px */
@media screen and (max-width: 1000px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

/*--------------------------------- Article Grid -----------------------------*/

.article-pic {
    grid-area: Image;
   /* background-color: red; */
    width:100%;
    size: 100%;
    
    align-content: right;
}

.article-text {
    grid-area: Desc;
   /* background-color: blue; */
}

.article-container {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    grid-template-areas: "Desc Image";
   /* background-color: aqua; */
}

a {
    text-decoration: none;
}

div.article-text p {
    color: var(--text);
}

div.article-text a {
    background-image: var(--grad);
    color: var(--text);
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 1px var(--bl));
}

.ol-box a {
    background-image: var(--grad);
    color: var(--text);
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 1px var(--bl));
}