@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

/*--------------------------- Typeface ---------------------------*/

@font-face {
    font-family: bauhaus;
    src: url(../BauhausFontFamily/BauhausRegular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: bauhaus;
    src: url(.//Shin-go/AOTFShinGoProBold.otf) format('truetype');
    font-weight: bold;
} 
h1, h2, h3, h4, h5, h6 {
    font-family: 'ICA Rubrik', sans-serif;
    font-weight: normal;
}

p, th, nav, li, svg {
    font-family: 'bauhaus', sans-serif;
    font-weight: normal;
}
b {
    font-family: 'ICA Rubrik', sans-serif;
    font-weight: bold;
}


/*------------------- Colour Controls ----------------------------*/

:root {        
    --bread:rgb(241, 241, 241); 
    --bu:rgb(27, 27, 104);
    --creme: white;
    --orang: rgb(232, 101, 8);     
    --bl: rgba(0, 0, 0, 0.248);
    --text: black;
    --text2: white;
    --rule: #ccc;
    --grad: linear-gradient(to bottom right, blue, pink);


    /* --- svg --- */

    --colour1: #91afec;
    --colour2: #6d83af;
    --colour3: #d2dbed;
    --colour4: #7c96ca;
    --colour5: #f5f2eb;
    --colour6: rgba(216, 166, 30, 0);
    --colour7: rgba(216,165,30,0.0);
    --stext: rgba(202, 202, 202, 0.0);



    /* --bread-dark:rgb(43, 44, 50); 
    --bu-dark:rgb(27, 27, 104);
    --creme-dark: rgb(51, 51, 59);
    --orang-dark: rgb(232, 101, 8);     
    --bl-dark: rgb(0, 0, 0, 0.248);
    --text-dark: rgb(202, 202, 202);
    --rule-dark: rgb(163, 161, 161);     
    --grad-dark: linear-gradient(to bottom right, rgb(1, 1, 62), rgb(73, 2, 40)); */


}

.darkMode {
    --bread:rgb(43, 44, 50); 
    --bu:rgb(27, 27, 104);
    --creme: rgb(51, 51, 59);
    --orang: rgb(232, 101, 8);     
    --bl: rgb(0, 0, 0, 0.248);
    --text: rgb(202, 202, 202);
    --text2: rgb(202, 202, 202);
    --rule: rgb(163, 161, 161);     
    --grad: linear-gradient(to bottom right, rgb(1, 1, 62), rgb(73, 2, 40));


    /* --- svg --- */

    --colour1: #67738c;
    --colour2: #4f586c;
    --colour3: #d2dbed;
    --colour4: #626e85;
    --colour5: #efd9a0;
    --colour6: rgba(216,165,30,0.42);
    --colour7: #ffebb7;
    --stext: rgb(0, 0, 0);

    /* :rgba(216,165,30,0.42); */
    /* :linear-gradient(to bottom left, rgba(216, 165, 30, 0.42), rgba(216, 165, 30, 0.0)); */

}

/* @media(prefers-color-scheme: dark) {
    :root {
        --bread: var(--bread-dark);
        --bu: var(--bu-dark);
        --creme: var(--creme-dark);      
        --orang: var(--orang-dark);    
        --bl: var(--bl-dark);
        --text: var(--text-dark);    
        --rule: var(--rule-dark);
        --grad: var(--grad-dark);
    }

} */

/* @media(prefers-color-scheme: light) {
    :root {
        --bread: var(--bread-light);
        --bu: var(--bu-light);
        --creme: var(--creme-light);      
        --orang: var(--orang-light);    
        --bl: var(--bl-light);
        --text: var(--text-light);    
        --rule: var(--rule-light);
        --grad: var(--grad-light);
    }

} */

/* .darkmode {
    --bread: var(--bread-dark);
    --bu: var(--bu-dark);
    --creme: var(--creme-dark);      
    --orang: var(--orang-dark);    
    --bl: var(--bl-dark);
    --text: var(--text-dark);    
    --rule: var(--rule-dark);
    --grad: var(--grad-dark);
} */

/* [color-scheme="light"] {
    --bread: var(--bread-light);
    --bu: var(--bu-light);
    --creme: var(--creme-light);      
    --orang: var(--orang-light);    
    --bl: var(--bl-light);
    --text: var(--text-light);    
    --rule: var(--rule-light);
    --grad: var(--grad-light);
} */

/*
    --bread:#ffffff; 
    --bu: #004e89;
    --creme: #fdf0d5;
    --orang: #1a659e;     
    --bl: rgba(0, 0, 0, 0.248);

    --bread:rgb(226, 221, 221); 
    --bu:rgb(27, 27, 104);
    --creme: oldlace;
    --orang: rgb(232, 101, 8);     
    --bl: rgba(0, 0, 0, 0.248);
*/
.colour-a {
    color: var(--bread,);
}

.colour-b {
    color: var(--bu);
}

.colour-c {
    color: var(--creme);
}

.colour-d {
    color: var(--orang);
}

.colour-e {
    color: var(--bl);
}

.text-colour {
    color: var(--text);
} 

.colour-g {
    color: var(--grad);
}

/*------------------------ Responsive Iframes --------------------*/



.widt {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.wid {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    height: 500px;
}

.wid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:1350px) {
    :root {
        --add: 20px;
        --daa: 0;
    }
}






















































/*------------------------------ elements ------------------------*/

/* .standard-blue-boder {
    border-color: var(--bu);
    border-width: 6px;
    border-style: solid;
    border-radius: 10px;
} */







body {
    margin: 0px;
}



/* p { */
    /* pushes all paragraph text over */
    /* padding-left: 20px; */
    /* may be able to remove, with adjustment in ol-box */
/* } */

.ad { 
    /* Adjusts Ad Box Placement */
    margin-left: var(--add,0);
    margin-top: var(--daa, 20px);
}

.item-center {
    display: block;
    margin: auto;
    margin: auto;
  /* may be redundant */
}



.no-u {
    /* for removing decoration in links */
    text-decoration: none;
    /* May be able to encorperate into something else */
}

.corn {
    /* applies corner radius when applied, for use on images or iframes */
    border-radius: 10px;
    /* could be encorperated into something else */
}

.ad-pic {
    /* width of pic in ad for use as variable* */
    width:100%;
    /* optimize */
}

@media (max-width:1350px){
    /* stops ad getting too big  */
    .ad-pic {
        width: 300px;
    }
}

.pic {
    width: 100%;
}

hr {
    border-color: var(--rule);
}


/* a hr {
    border-color: var(--rule);
  } */



/* .decor > h1, a {
    color: var(--text2); */
    /* background-color: rgb(162, 156, 156, .5);
    padding: 5px; */
/* } */

.space {
    height: 500px;
}

/* h2, h3 {
    background-image: var(--grad);
    border-radius: 5px;
    width: fit-content;
    padding: 20px 20px 5px 0;
} */

.inset {
    inset: 0px -5px 15px grey;
}

.backgound {
    background-color: var(--bread);
}

/* .nav > h1 {
    color: red;
} */

/* .nav > nav > table > tr > th > a {
    text-decoration: none;
    color: aquamarine;
} */
























































/* ------------------------ footer -------------------------- */

footer {
    background-color: var(--creme);

}

.footer-text {
    color: var(--text);
    padding: 20px;

    /* Incorperate into above */
}

.footer-icon{
    grid-area: sidel;
    /* background-color: aqua; */
}

.footer-info {
    grid-area: mid;
    /* background-color: rgba(20, 36, 209, 0.279); */
}

.footer-switch {
    grid-area: sider;
    /* background-color: rgba(0, 255, 21, .2); */
    padding: 30px;
    display: grid;
    place-items: end;
}

.footer-container {
    width: auto;
    display: grid;
    grid-template-columns: 1fr, 1fr, auto;
    grid-template-areas: "sidel mid sider";
    grid-template-rows: fit-content;
    /* background-color: rgba(248, 9, 9, .2); */
    grid-gap: 0px;
}

/* ----------------------------- darkmode button -----------------------------*/

.theme {
    background-color: var(--grad);
    width: 300px;
    height: 150px;
    border-radius: 50%;
    border: 0 solid var(--bread);
    cursor: pointer;
    display: grid;
    place-items: center;
}

.theme:is(:hover) {
    background-color: var(--orang);
    opacity: .8;
}

/* ------------------------------- nav -------------------------------------- */

.nav-bar > th > a {
    text-decoration: none;
    color: var(--text2);
}

.nav-bar :hover {
    color: var(--orang);
}

.hov:hover {
    color: var(--orang);
}

/*----------------------------------- Header ---------------------------------*/

/* header { */
    /*background-color: var(--bu);*/
    /* padding-left: 30px;
    padding-top: 5px;
    margin: 0px;
    background-image: var(--grad);
    color: rgb(233,230,230);
    filter: drop-shadow(0px 8px 4px var(--bl));
}  */

.normal-header {
    /*background-color: var(--bu);*/
    padding-left: 30px;
    padding-top: 5px;
    margin: 0px;
    background-image: var(--grad);
    color: var(--text2);
    filter: drop-shadow(0px 8px 4px var(--bl));
} 

/*-------------------------------- fancy Header ------------------------------*/

.fancy-header div {
    padding-left: 30px;
    padding-top: 5px;
    margin: 0px;
    color: var(--text2);
    filter: drop-shadow(0px 8px 4px var(--bl));
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.49), transparent);
}

.fancy-header {
    background-color: var(--creme);
    background-image: url(".././Images/20210402_154657.jpg");  /* mgb */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 350px;
}

/*----------------------------- Page Description -----------------------------*/

.page-description {
    background-color: var(--creme);
    padding: 20px 20px 10px 20px;
    margin: 20px;
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
}

.page-description h2, .page-description h3 {
    margin: 0px;
    width: fit-content;
    padding: 5px 20px;
    color: var(--text2);
    background-image: var(--grad);
    border-radius: 5px;
}

.page-description p {
    text-align: justify;
    color: var(--text);
}

/*------------------------------ Article link Box ----------------------------*/

.article-container img {
    width:100%;
    size: 100%;
    grid-area: Image;
    align-content: right; 
    border-radius: 10px;
    /* background-color: red; */
}

.article-container div {
    grid-area: Desc;
}

.article-container hr {
    margin-left: 0px;
    margin-right: 10px;
    border-color: var(--rule);    
}

.article-container p {
    margin-right: 10px;
    color: var(--text);
    text-align: justify;
   /* background-color: blue; */
}

.article-container h2 {
    width: fit-content;
    margin: 0%;
    margin-right: 10px;
    padding: 5px 20px;
    color: var(--text2);
    background-image: var(--grad);
    border-radius: 5px;
}

.article-container ul {
    color: var(--text2);
}

.article-container:hover {
    transform: scale(1.01);
    
}

.article-container {
    width: auto;
    display: grid;
    padding: 20px;
    margin: 20px;
    background-color: var(--creme);
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    grid-template-areas: "Desc Image";
    transition: 200ms;
}

@media (max-width:1000px) { /* Website Size Responsiveness */
    .article-container {
        width: auto;
        display: grid;
        padding: 20px;
        margin: 20px;
        background-color: var(--creme);
        border-radius: 10px;
        filter: drop-shadow(10px 8px 4px var(--bl));
        grid-template-columns: 1fr;
        grid-template-rows: fit-content 1fr;
        grid-template-areas: 
        "Desc"
        "Image";
    }
}

/*----------------------------- Photo Album Link -----------------------------*/

.photo-album {
    padding: 20px;
    margin: 20px;
    background-color: var(--creme);
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    transition: 200ms;
}

.photo-album img {
    width: 100%;
    border-radius: 10px;
}

.photo-album:hover {
    transform: scale(1.01);
}

.photo-album h2 {
    width: fit-content;
    margin: 10px 10px 0px 0px;
    padding: 5px 20px;
    color: var(--text2);
    background-image: var(--grad);
    border-radius: 5px;
}

.photo-album p {
    margin-right: 10px;
    color: var(--text);
    text-align: justify;
}

@media (min-width:900px) {
    .photo-album {
        margin: 0px;
    }
}



/*---------------------- Debug colors ----------------------------*/
/*
.r {
    background-color: red;
}

.g {
    background-color: green;
}

.b {
    background-color: blue;
}

.y {
    background-color: yellow;
}

.p {
    background-color: pink;
}
*/
/*-------------------- Page Layout -------------------------------*/

.d1 {
    /* Header Placement */
    grid-area: header;
}
.d2 {
    background: lightcoral;
    
}

.d3 {
    /* Article Placement */
    grid-area: article;
}
.d4 {
    /* Ad Placement */
    grid-area: advert;
}
.d5 {
    /* Footer Placement */
    grid-area: footer;
}

.container {

    /* Website Container */
    width: auto;
    /*background: lightgray;*/
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: fit-content Fit-Content fit-content;
    grid-gap: 0px 0px;
    grid-template-areas: 
      "header header header"
      ". article advert"
      "footer footer footer"
      ;
}

@media (max-width:1350px) { /* Website Size Responsiveness */
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          "header header"
          "article article"
          "advert advert"
          "footer footer"                     
    }               
}

/* ----------------------------- Section Splitter --------------------------- */

@media (min-width:900px) {

    .cont-container {
        width: auto;
        margin: 20px ;    
        /*background-color: aqua;*/

        columns: 2;
        /* grid-auto-rows: 10px; */
        /*grid-template-rows: fit-content ; */
        column-gap: 20px;
    }

    .cont-container > .card {
        margin: 0 0 20px 0;    
    }

    .card {
        overflow: hidden;
        width: fit;
        max-width: 100%;
        break-inside: avoid;
    }
}

@media (max-width:900px){
    .card {
        margin: 0 20px 20px 20px;
    }
}

/*------------------------------- Gallery Grid -------------------------------*/

/* for easy setup use a>div>image */

.gallery-container {
    width: auto;
    margin: 20px ;    
    columns: 4;
    column-gap: 10px;
    /* background-color: red; */
}

@media (max-width:900px) {

    .gallery-container {
        width: auto;
        margin: 20px ;    
        columns: 2;
        column-gap: 10px;
        /* background-color: red; */
    }
}

.gallery-container div {
    width: fit;
    padding: 10px 10px 30px 10px ;
    margin-bottom: 10px;
    background-color: var(--creme);
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    transition: 200ms;
}

.gallery-container img { 
    width: 100%;
    border-radius: 10px;
    display: block;
}

.gallery-container div:hover {
    transform: scale(1.02);
}

/* .gallery-container a {
    pointer-events: none;
} */

/*---------------------------------- Pages -----------------------------------*/

.pages {
    width: auto;
    margin: 20px;
}

.pages div {
    width: fit;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: grid;
    place-content: center;
    overflow: hidden;
    filter: drop-shadow(10px 8px 4px var(--bl));
}

.pages img {
    width: 100%;   
    transition: 200ms;
}

.pages img:hover {
    transform: scale(1.05);
    
}

.pages > div > div {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.43), transparent);
    pointer-events: none;
}

@media (max-width:900px) {
    .pages div {
        height: 200px;
    }
}

@media (max-width:500px) {
    .pages div {
        height: 100px;
    }

    .pages > div > div {
        font-size: 30px;
    }
}

/*-------------------------------- Focus box ---------------------------------*/

.focus-box-link {
    background-image: var(--grad);
    padding: 5px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    color: var(--text2);
    text-align: center;
    transition: 200ms;
}

.focus-box-link:hover {
    transform: scale(1.02);
    
}

.focus-box {
    background-image: var(--grad);
    margin: 0 20px;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    color: var(--text2);
    text-align: center;
}

.focus-box-link h2, .focus-box-link h3 {
    color: var(--text2);
}

/*-------------------------- article with no picture -------------------------*/

.article {
    margin: 20px;
    padding: 20px 20px 15px 20px;
    color: var(--text);
    background-color: var(--creme);
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
}

.article h2, .article h3 {
    width: fit-content;
    margin: 0px;
    padding: 5px 20px;
    color: var(--text2);
    background-image: var(--grad);
    border-radius: 5px;
}

.article iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.article .vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--------------------------------- lightbox ---------------------------------*/

/* we will see */
/* 
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
}

.lightbox__inner {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 100px;
    background: var(--bread);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3 );
    border-radius: 10px;
}

.lightbox__close {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 40px;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.4);
}

.lightbox__close:hover {
    color: rgb(0, 0, 0, 0.);
} */

/*------------------------------- new lightbox -------------------------------*/




















































/*--------------------------------- Gallery ----------------------------------*/
                             /* Work In Progress */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 216px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 150px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/*-------------------------------- Image Grid --------------------------------*/

.image-grid {
    --gap: 5px;
    --num-cols: 4;
    --row-height: 300px;


    box-sizing: border-box;
    padding: var(--gap);


    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.image-grid > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything under 1350px */
@media screen and (max-width: 1000px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

/*--------------------------------- Article Grid -----------------------------*/


/* ------------------------ ol box ------------------------- */

/* link decoration */
.ol-box a {
    background-image: var(--grad);
    color: var(--text2);
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 1px var(--bl));
}

a {
    text-decoration: none;
}

.ol-box h2, .ol-box h3 {
    color: var(--text);
}

/* h1 {
    color: var(--text2);
} */

/*----------------------------- random bullshit ------------------------------*/

.bgc {
    background-image: var(--grad);
}

.nono {
    margin: 0px;
    color: var(--text2);
}

.colo, .colo h2, .colo h3 {
    color: var(--text2);
}

.trans:hover {
    transform: scale(1.02);
    transition: 200ms;
}

.text-title {
    padding-top: 10px;
    padding-left: 20px;
    color: var(--text);
    /* may be able to remove/replace */
}

.txt-center {
    text-align: center;
}


.ol-box {
    background-color: var(--creme);
    padding: 5px 20px 10px 20px;
    margin: 20px;
    border-radius: 10px;
    filter: drop-shadow(10px 8px 4px var(--bl));
    color: var(--text);
}

